In [133]:
import pandas as pd
import numpy as np

import xgboost as xgb
from xgboost.sklearn import XGBClassifier
from sklearn.metrics import accuracy_score
train=pd.read_csv('/home/deepak/Downloads/hacker earth ml/ml 1/898ce544-0-MLChallenge_1Datac63af4e/train_indessa.csv')
test=pd.read_csv('/home/deepak/Downloads/hacker earth ml/ml 1/898ce544-0-MLChallenge_1Datac63af4e/test_indessa.csv')

In [176]:
import matplotlib.pyplot as pyplot

In [134]:
train.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,batch_enrolled,int_rate,grade,sub_grade,emp_title,...,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,verification_status_joint,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status
0,58189336,14350,14350,14350,36 months,,19.19,E,E3,clerk,...,0,74,INDIVIDUAL,NaN,26th week,0,0,28699,30800,0
1,70011223,4800,4800,4800,36 months,BAT1586599,10.99,B,B4,Human Resources Specialist,...,0,NaN,INDIVIDUAL,NaN,9th week,0,0,9974,32900,0
2,70255675,10000,10000,10000,36 months,BAT1586599,7.26,A,A4,Driver,...,0,NaN,INDIVIDUAL,NaN,9th week,0,65,38295,34900,0
3,1893936,15000,15000,15000,36 months,BAT4808022,19.72,D,D5,Us office of Personnel Management,...,0,NaN,INDIVIDUAL,NaN,135th week,0,0,55564,24700,0
4,7652106,16000,16000,16000,36 months,BAT2833642,10.64,B,B2,LAUSD-HOLLYWOOD HIGH SCHOOL,...,0,NaN,INDIVIDUAL,NaN,96th week,0,0,47159,47033,0

In [135]:
train.select_dtypes(include=['object'])

,term,batch_enrolled,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,pymnt_plan,desc,purpose,title,zip_code,addr_state,initial_list_status,application_type,verification_status_joint,last_week_pay
0,36 months,,E,E3,clerk,9 years,OWN,Source Verified,n,NaN,debt_consolidation,Debt consolidation,349xx,FL,f,INDIVIDUAL,NaN,26th week
1,36 months,BAT1586599,B,B4,Human Resources Specialist,< 1 year,MORTGAGE,Source Verified,n,NaN,home_improvement,Home improvement,209xx,MD,w,INDIVIDUAL,NaN,9th week
2,36 months,BAT1586599,A,A4,Driver,2 years,OWN,Not Verified,n,NaN,debt_consolidation,Debt consolidation,447xx,OH,w,INDIVIDUAL,NaN,9th week
3,36 months,BAT4808022,D,D5,Us office of Personnel Management,10+ years,RENT,Not Verified,n,> My goal is to obtain a loan to pay off my hi...,debt_consolidation,Debt consolidation,221xx,VA,f,INDIVIDUAL,NaN,135th week
4,36 months,BAT2833642,B,B2,LAUSD-HOLLYWOOD HIGH SCHOOL,10+ years,RENT,Verified,n,NaN,credit_card,refi,900xx,CA,w,INDIVIDUAL,NaN,96th week
5,36 months,BAT2575549,A,A5,Design Consultant,2 years,MORTGAGE,Not Verified,n,> We are requesting this loan to help re-or...,debt_consolidation,Credit Card Debt Consolidation,461xx,IN,f,INDIVIDUAL,NaN,113th week
6,36 months,,A,A4,TOYOTA OF NORTH HOLLYWOOD,5 years,RENT,Source Verified,n,> Funds will be used to pay off a debt. I am a...,debt_consolidation,PAY THEM OFF,913xx,CA,f,INDIVIDUAL,NaN,117th week
7,36 months,NaN,B,B1,Banker,8 years,MORTGAGE,Not Verified,n,NaN,credit_card,Credit card refinancing,351xx,AL,f,INDIVIDUAL,NaN,78th week
8,36 months,BAT4136152,C,C4,LVN,7 years,MORTGAGE,Not Verified,n,NaN,home_improvement,Home improvement,917xx,CA,w,INDIVIDUAL,NaN,44th week
9,60 months,BAT4694572,D,D4,Registered Nurse,2 years,MORTGAGE,Verified,n,NaN,debt_consolidation,Debt consolidation,427xx,KY,w,INDIVIDUAL,NaN,52th week
10,36 months,,C,C3,VP of Operations,10+ years,OWN,Source Verified,n,NaN,credit_card,Credit card refinancing,875xx,NM,f,INDIVIDUAL,NaN,26th week
11,36 months,,D,D2,Jp Morgan chase bank,4 years,RENT,Verified,n,NaN,debt_consolidation,Loan to payoff credit card debt,926xx,CA,f,INDIVIDUAL,NaN,95th week
12,36 months,BAT5924421,A,A3,driver,7 years,MORTGAGE,Not Verified,n,NaN,credit_card,Credit card refinancing,381xx,TN,f,INDIVIDUAL,NaN,48th week
13,36 months,BAT3193689,A,A1,Federal Law Enforcement,10+ years,MORTGAGE,Not Verified,n,NaN,credit_card,Credit card refinancing,773xx,TX,f,INDIVIDUAL,NaN,78th week
14,36 months,BAT224923,C,C1,Truck Driver,10+ years,RENT,Not Verified,n,> Debt Consolidation<br>,debt_consolidation,Debt consolidation,917xx,CA,w,INDIVIDUAL,NaN,82th week
15,36 months,BAT1184694,D,D1,ASSISTANT QAPI COORDINATOR,4 years,RENT,Source Verified,n,NaN,debt_consolidation,Debt consolidation,922xx,CA,f,INDIVIDUAL,NaN,35th week
16,60 months,BAT1930365,E,E2,LS1,9 years,RENT,Source Verified,n,NaN,debt_consolidation,Debt Consolidation,919xx,CA,f,INDIVIDUAL,NaN,96th week
17,36 months,,D,D1,NaN,n/a,MORTGAGE,Verified,n,> credit card consolidation.<br><br> > this l...,credit_card,Credit card refinancing,191xx,PA,f,INDIVIDUAL,NaN,104th week
18,36 months,BAT3873588,B,B3,Production employee,7 years,RENT,Source Verified,n,NaN,debt_consolidation,Debt consolidation,666xx,KS,f,INDIVIDUAL,NaN,26th week
19,36 months,NaN,B,B4,Principal Consultant,7 years,RENT,Verified,n,NaN,debt_consolidation,Debt consolidation,606xx,IL,w,INDIVIDUAL,NaN,17th week
20,60 months,BAT2252229,D,D5,Zone business manager,9 years,RENT,Not Verified,n,NaN,debt_consolidation,Debt consolidation,322xx,FL,w,INDIVIDUAL,NaN,13th week
21,36 months,BAT1135695,A,A2,Expeditors,2 years,OWN,Not Verified,n,NaN,debt_consolidation,Debt consolidation,114xx,NY,f,INDIVIDUAL,NaN,NAth week
22,36 months,,D,D4,production coordinator,10+ years,MORTGAGE,Not Verified,n,NaN,debt_consolidation,Debt consolidation,928xx,CA,w,INDIVIDUAL,NaN,31th week
23,36 months,BAT4694572,C,C3,Title Manager,7 years,OWN,Source Verified,n,NaN,debt_consolidation,Debt consolidation,631xx,MO,f,INDIVIDUAL,NaN,30th week
24,36 months,BAT4271519,A,A5,Coordinator,< 1 year,RENT,Source Verified,n,NaN,debt_consolidation,Debt consolidation,337xx,FL,w,INDIVIDUAL,NaN,17th week
25,60 months,,D,D1,Quality Engineer,4 years,MORTGAGE,Source Verified,n,NaN,debt_consolidation,Debt consolidation,285xx,NC,f,INDIVIDUAL,NaN,78th week
26,36 months,NaN,C,C1,Top shelf sales,2 years,OWN,Source Verified,n,NaN,debt_consolidation,Debt consolidation,764xx,TX,f,INDIVIDUAL,NaN,70th week
27,36 months,NaN,A,A2,Physician,1 year,MORTGAGE,Source Verified,n,NaN,debt_consolidation,Close cards and consolidate,352xx,AL,f,INDIVIDUAL,NaN,104th week
28,36 months,BAT1184694,A,A4,Teacher,3 years,MORTGAGE,Verified,n,NaN,debt_consolidation,Debt consolidation,757xx,TX,w,INDIVIDUAL,NaN,35th week
29,36 months,BAT1586599,D,D4,cna,2 years,MORTGAGE,Verified,n,NaN,other,Other,073xx,NJ,f,INDIVIDUAL,NaN,4th week
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532398,36 months,BAT3193689,C,C4,Owner,7 years,MORTGAGE,Not Verified,n,NaN,debt_consolidation,Debt consolidation,017xx,MA,f,INDIVIDUAL,NaN,78th week
532399,36 months,BAT5489674,B,B3,PATIENT ACCESS,9 years,MORTGAGE,Not Verified,n,NaN,debt_consolidation,Debt consolidation,806xx,CO,f,INDIVIDUAL,NaN,17th week
532400,36 months,NaN,B,B2,utility,4 years,MORTGAGE,Not Verified,n,NaN,debt_consolidation,Debt consolidation,582xx,ND,w,INDIVIDUAL,NaN,NAth week
532401,36 months,BAT3726927,B,B3,Owner,< 1 year,MORTGAGE,Not Verified,n,NaN,debt_consolidation,Debt consolidation,334xx,FL,w,INDIVIDUAL,NaN,31th week
532402,36 months,BAT3726927,A,A4,Mechanic,< 1 year,MORTGAGE,Not Verified,n,NaN,debt_consolidation,Debt consolidation,618xx,IL,w,INDIVIDUAL,NaN,31th week
532403,60 months,BAT3873588,E,E3,IT Systems Engineer,10+ years,RENT,Verified,n,NaN,debt_consolidation,Debt consolidation,920xx,CA,w,INDIVIDUAL,NaN,26th week
532404,36 months,BAT1586599,A,A4,Senior Engineering Manager,10+ years,MORTGAGE,Verified,n,NaN,home_improvement,Home improvement,735xx,OK,f,INDIVIDUAL,NaN,9th week
532405,60 months,BAT4808022,C,C5,Department of Justice,3 years,RENT,Verified,n,NaN,debt_consolidation,Debt consolidation and payoff,921xx,CA,w,INDIVIDUAL,NaN,100th week
532406,36 months,BAT2803411,A,A2,Designer,2 years,MORTGAGE,Not Verified,n,NaN,debt_consolidation,Debt consolidation,410xx,KY,w,INDIVIDUAL,NaN,4th week
532407,36 months,BAT3873588,A,A4,Small Business Consultant,10+ years,MORTGAGE,Verified,n,NaN,debt_consolidation,Debt consolidation,721xx,AR,w,INDIVIDUAL,NaN,26th week
532408,36 months,BAT1586599,B,B2,Funeral Director/Grief Counselor,10+ years,MORTGAGE,Source Verified,n,NaN,major_purchase,Major purchase,648xx,MO,f,INDIVIDUAL,NaN,9th week
532409,36 months,BAT5714674,C,C4,unistrut corp.,10+ years,OWN,Not Verified,n,NaN,credit_card,Credit card refinancing,481xx,MI,f,INDIVIDUAL,NaN,126th week
532410,36 months,,E,E3,Hilton Hotels,1 year,RENT,Not Verified,n,Need to consolidate cards to 1 monthly payment.,debt_consolidation,consolidate bills,088xx,NJ,f,INDIVIDUAL,NaN,156th week
532411,36 months,BAT2575549,B,B1,sr operator,6 years,MORTGAGE,Verified,n,NaN,debt_consolidation,Debt consolidation,774xx,TX,f,INDIVIDUAL,NaN,78th week
532412,36 months,BAT1104812,D,D2,CNC Operator,6 years,RENT,Verified,n,NaN,debt_consolidation,Debt consolidation,483xx,MI,f,INDIVIDUAL,NaN,39th week
532413,60 months,BAT1766061,D,D4,Cyber Security Advisor,10+ years,MORTGAGE,Verified,n,NaN,home_improvement,Home improvement,221xx,VA,f,INDIVIDUAL,NaN,100th week
532414,36 months,NaN,C,C4,AVP,7 years,RENT,Verified,n,NaN,debt_consolidation,Debt consolidation,110xx,NY,f,INDIVIDUAL,NaN,70th week
532415,36 months,,A,A4,Lockheed Martin,6 years,MORTGAGE,Source Verified,n,> My Deck needs to be replaced. I have $250...,home_improvement,Loan for Deck,802xx,CO,f,INDIVIDUAL,NaN,161th week
532416,36 months,NaN,D,D3,Content Specialist,10+ years,MORTGAGE,Not Verified,n,NaN,debt_consolidation,Debt consolidation,453xx,OH,f,INDIVIDUAL,NaN,83th week
532417,36 months,BAT1586599,B,B3,Staffing assistant,10+ years,RENT,Not Verified,n,NaN,debt_consolidation,Debt consolidation,939xx,CA,w,INDIVIDUAL,NaN,9th week
532418,36 months,NaN,B,B3,Teacher,9 years,RENT,Source Verified,n,NaN,credit_card,Credit card refinancing,840xx,UT,w,INDIVIDUAL,NaN,4th week
532419,36 months,BAT1184694,B,B5,Help Desk Technician,< 1 year,RENT,Not Verified,n,NaN,credit_card,Credit card refinancing,028xx,RI,w,INDIVIDUAL,NaN,31th week
532420,36 months,BAT5489674,C,C2,Admin Secretary,9 years,OWN,Source Verified,n,NaN,debt_consolidation,Debt consolidation,178xx,PA,f,INDIVIDUAL,NaN,4th week
532421,60 months,BAT2078974,C,C1,Teacher,3 years,MORTGAGE,Source Verified,n,NaN,debt_consolidation,Debt consolidation,239xx,VA,f,INDIVIDUAL,NaN,65th week
532422,36 months,NaN,C,C2,Champion Mortgage,10+ years,MORTGAGE,Source Verified,n,NaN,debt_consolidation,Consolidation,984xx,WA,w,INDIVIDUAL,NaN,22th week
532423,36 months,,B,B5,Registered Nurse,10+ years,MORTGAGE,Source Verified,n,NaN,debt_consolidation,Debt consolidation,481xx,MI,f,INDIVIDUAL,NaN,65th week
532424,60 months,BAT2003848,C,C5,Account Mgr,10+ years,MORTGAGE,Not Verified,n,NaN,debt_consolidation,Debt consolidation,496xx,MI,w,INDIVIDUAL,NaN,70th week
532425,60 months,NaN,E,E1,Comcast cable,8 years,RENT,Verified,n,NaN,debt_consolidation,Debt consolidation,370xx,TN,f,INDIVIDUAL,NaN,9th week
532426,60 months,BAT3193689,D,D2,Resident Physician,1 year,RENT,Source Verified,n,NaN,credit_card,Credit card refinancing,432xx,OH,w,INDIVIDUAL,NaN,78th week
532427,36 months,BAT4136152,A,A2,Health Care Analyst,< 1 year,RENT,Not Verified,n,NaN,debt_consolidation,Debt consolidation,956xx,CA,f,INDIVIDUAL,NaN,44th week

In [136]:
train.drop(['batch_enrolled','sub_grade','emp_title','desc','purpose','title','zip_code','addr_state','member_id'],axis=1, inplace=True)
test.drop(['batch_enrolled','sub_grade','emp_title','desc','purpose','title','zip_code','addr_state','member_id'],axis=1, inplace=True)

In [137]:
train.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,grade,emp_length,home_ownership,annual_inc,verification_status,...,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,verification_status_joint,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status
0,14350,14350,14350,36 months,19.19,E,9 years,OWN,28700,Source Verified,...,0,74,INDIVIDUAL,NaN,26th week,0,0,28699,30800,0
1,4800,4800,4800,36 months,10.99,B,< 1 year,MORTGAGE,65000,Source Verified,...,0,NaN,INDIVIDUAL,NaN,9th week,0,0,9974,32900,0
2,10000,10000,10000,36 months,7.26,A,2 years,OWN,45000,Not Verified,...,0,NaN,INDIVIDUAL,NaN,9th week,0,65,38295,34900,0
3,15000,15000,15000,36 months,19.72,D,10+ years,RENT,105000,Not Verified,...,0,NaN,INDIVIDUAL,NaN,135th week,0,0,55564,24700,0
4,16000,16000,16000,36 months,10.64,B,10+ years,RENT,52000,Verified,...,0,NaN,INDIVIDUAL,NaN,96th week,0,0,47159,47033,0

In [138]:
# train=train.replace(r'\s+', np.nan, regex=True)

In [139]:
train.columns[train.isnull().any()]
test.columns[test.isnull().any()]

Index([u'annual_inc', u'delinq_2yrs', u'inq_last_6mths',
       u'mths_since_last_delinq', u'mths_since_last_record', u'open_acc',
       u'pub_rec', u'revol_util', u'total_acc', u'collections_12_mths_ex_med',
       u'mths_since_last_major_derog', u'verification_status_joint',
       u'acc_now_delinq', u'tot_coll_amt', u'tot_cur_bal',
       u'total_rev_hi_lim'],
      dtype='object')

In [140]:
train=train.fillna(value=0)
train.isnull().any()
test=test.fillna(value=0)
test.isnull().any()

loan_amnt                      False
funded_amnt                    False
funded_amnt_inv                False
term                           False
int_rate                       False
grade                          False
emp_length                     False
home_ownership                 False
annual_inc                     False
verification_status            False
pymnt_plan                     False
dti                            False
delinq_2yrs                    False
inq_last_6mths                 False
mths_since_last_delinq         False
mths_since_last_record         False
open_acc                       False
pub_rec                        False
revol_bal                      False
revol_util                     False
total_acc                      False
initial_list_status            False
total_rec_int                  False
total_rec_late_fee             False
recoveries                     False
collection_recovery_fee        False
collections_12_mths_ex_med     False
mths_since_last_major_derog    False
application_type               False
verification_status_joint      False
last_week_pay                  False
acc_now_delinq                 False
tot_coll_amt                   False
tot_cur_bal                    False
total_rev_hi_lim               False
dtype: bool

In [141]:
#preprocessing 

train.term=train.term.str[:2]
k=pd.get_dummies(train.grade)
frames=[train,k]
train=pd.concat(frames,axis=1)


test.term=test.term.str[:2]
kt=pd.get_dummies(test.grade)
frames=[test,kt]
test=pd.concat(frames,axis=1)

In [142]:
train.emp_length.unique()

array(['9 years', '< 1 year', '2 years', '10+ years', '5 years', '8 years',
       '7 years', '4 years', 'n/a', '1 year', '3 years', '6 years'], dtype=object)

In [143]:
train.emp_length.unique()
qual_dict={"9 years":9,"8 years":8,"10+ years":10,"7 years":7,"6 years":6,"5 years":5,"4 years":4,"3 years":3,"2 years":2,"1 year":1,"< 1 year":0 ,"n/a":0}
train.emp_length=train.emp_length.map(qual_dict)


test.emp_length.unique()
qual_dict={"9 years":9,"8 years":8,"10+ years":10,"7 years":7,"6 years":6,"5 years":5,"4 years":4,"3 years":3,"2 years":2,"1 year":1,"< 1 year":0 ,"n/a":0}
test.emp_length=test.emp_length.map(qual_dict)

In [144]:
train.select_dtypes(include=['object']).head()

,term,grade,home_ownership,verification_status,pymnt_plan,initial_list_status,application_type,verification_status_joint,last_week_pay
0,36,E,OWN,Source Verified,n,f,INDIVIDUAL,0,26th week
1,36,B,MORTGAGE,Source Verified,n,w,INDIVIDUAL,0,9th week
2,36,A,OWN,Not Verified,n,w,INDIVIDUAL,0,9th week
3,36,D,RENT,Not Verified,n,f,INDIVIDUAL,0,135th week
4,36,B,RENT,Verified,n,w,INDIVIDUAL,0,96th week

In [145]:
train.drop(['grade'],axis=1,inplace=True)
train.home_ownership.head(20)

test.drop(['grade'],axis=1,inplace=True)
test.home_ownership.head(20)

0         RENT
1     MORTGAGE
2         RENT
3          OWN
4     MORTGAGE
5          OWN
6         RENT
7         RENT
8         RENT
9     MORTGAGE
10    MORTGAGE
11        RENT
12    MORTGAGE
13         OWN
14         OWN
15        RENT
16        RENT
17        RENT
18    MORTGAGE
19        RENT
Name: home_ownership, dtype: object

In [146]:
train['home_ownership'].astype('category')
qual_dictonary={"OWN":6,"MORTGAGE":5,"ANY":4,"NONE":1 , "OTHER":2 ,"RENT": 3}
train.home_ownership=train.home_ownership.map(qual_dictonary)
train.home_ownership.head(20)
train.home_ownership

test['home_ownership'].astype('category')
qual_dictonary={"OWN":6,"MORTGAGE":5,"ANY":4,"NONE":1 , "OTHER":2 ,"RENT": 3}
test.home_ownership=test.home_ownership.map(qual_dictonary)
test.home_ownership.head(20)

0     3
1     5
2     3
3     6
4     5
5     6
6     3
7     3
8     3
9     5
10    5
11    3
12    5
13    6
14    6
15    3
16    3
17    3
18    5
19    3
Name: home_ownership, dtype: int64

In [147]:
# print train['loan_status'].groupby(train.sub_grade).sum()

In [148]:

qual_dictonary={"Source Verified":1,"Not Verified":0,"Verified":1}
train.verification_status=train.verification_status.map(qual_dictonary)


qual_dictonary={"Source Verified":1,"Not Verified":0,"Verified":1}
test.verification_status=test.verification_status.map(qual_dictonary)

In [149]:
train.verification_status

0         1
1         1
2         0
3         0
4         1
5         0
6         1
7         0
8         0
9         1
10        1
11        1
12        0
13        0
14        0
15        1
16        1
17        1
18        1
19        1
20        0
21        0
22        0
23        1
24        1
25        1
26        1
27        1
28        1
29        1
         ..
532398    0
532399    0
532400    0
532401    0
532402    0
532403    1
532404    1
532405    1
532406    0
532407    1
532408    1
532409    0
532410    0
532411    1
532412    1
532413    1
532414    1
532415    1
532416    0
532417    0
532418    1
532419    0
532420    1
532421    1
532422    1
532423    1
532424    0
532425    1
532426    1
532427    0
Name: verification_status, dtype: int64

In [150]:
train.pymnt_plan.unique()

array(['n', 'y'], dtype=object)

In [151]:
train['pymnt_plan']=pd.Categorical(train.pymnt_plan)
train['pymnt_plan']=train.pymnt_plan.cat.codes

test['pymnt_plan']=pd.Categorical(test.pymnt_plan)
test['pymnt_plan']=test.pymnt_plan.cat.codes

In [152]:
train.initial_list_status.unique()

array(['f', 'w'], dtype=object)

In [153]:
train['initial_list_status']=pd.Categorical(train.initial_list_status)
train['initial_list_status']=train.initial_list_status.cat.codes

test['initial_list_status']=pd.Categorical(test.initial_list_status)
test['initial_list_status']=test.initial_list_status.cat.codes

In [154]:
train.application_type.unique()

array(['INDIVIDUAL', 'JOINT'], dtype=object)

In [155]:
train['application_type']=pd.Categorical(train.application_type)
train['application_type']=train.application_type.cat.codes

test['application_type']=pd.Categorical(test.application_type)
test['application_type']=test.application_type.cat.codes

In [156]:
train.verification_status_joint.unique()
test.verification_status_joint.unique()

array([0, 'Not Verified', 'Verified', 'Source Verified'], dtype=object)

In [173]:
test.verification_status_joint.unique()

array([1, 0, 2])

In [174]:
train.verification_status_joint.unique()

array([1, 2, 0])

In [159]:

qual_dictonary={"Source Verified":2,"Not Verified":0,"Verified":2,0:1}
train.verification_status_joint=train.verification_status_joint.map(qual_dictonary)


qual_dictonary={"Source Verified":2,"Not Verified":0,"Verified":2,0:1}
test.verification_status_joint=test.verification_status_joint.map(qual_dictonary)

In [160]:
train.last_week_pay.unique()

array(['26th week', '9th week', '135th week', '96th week', '113th week',
       '117th week', '78th week', '44th week', '52th week', '95th week',
       '48th week', '82th week', '35th week', '104th week', '17th week',
       '13th week', 'NAth week', '31th week', '30th week', '70th week',
       '4th week', '91th week', '65th week', '39th week', '83th week',
       '74th week', '22th week', '61th week', '156th week', '122th week',
       '174th week', '87th week', '139th week', '0th week', '57th week',
       '131th week', '152th week', '43th week', '161th week', '56th week',
       '170th week', '157th week', '109th week', '126th week',
       '100th week', '148th week', '265th week', '165th week',
       '261th week', '213th week', '222th week', '196th week',
       '130th week', '144th week', '244th week', '204th week', '69th week',
       '217th week', '143th week', '191th week', '21th week', '226th week',
       '18th week', '108th week', '79th week', '183th week', '178th week',
       '187th week', '252th week', '200th week', '118th week', '92th week',
       '121th week', '209th week', '239th week', '248th week',
       '169th week', '153th week', '235th week', '256th week', '8th week',
       '182th week', '230th week', '231th week', '257th week',
       '243th week', '205th week', '192th week', '270th week',
       '218th week', '283th week', '300th week', '221th week',
       '291th week', '278th week', '274th week', '269th week', '304th week'], dtype=object)

In [161]:
train['last_week_pay'] = train['last_week_pay'].replace(['NAth week'], '0')
test['last_week_pay'] = test['last_week_pay'].replace(['NAth week'], '0')

In [162]:
train.last_week_pay=train.last_week_pay.str.extract('(\d+)').astype(int)
test.last_week_pay=test.last_week_pay.str.extract('(\d+)').astype(int)

In [163]:
train.term=train.term.str.extract('(\d+)').astype(int)
test.term=test.term.str.extract('(\d+)').astype(int)

In [164]:
train.term.unique()

array([36, 60])

In [165]:
train.term.astype(int)
test.term.astype(int)

0         60
1         60
2         60
3         60
4         36
5         60
6         36
7         60
8         36
9         60
10        36
11        36
12        60
13        36
14        60
15        60
16        36
17        36
18        36
19        60
20        36
21        36
22        36
23        36
24        36
25        36
26        60
27        36
28        36
29        60
          ..
354921    36
354922    36
354923    36
354924    60
354925    36
354926    36
354927    36
354928    60
354929    36
354930    36
354931    36
354932    36
354933    60
354934    60
354935    60
354936    36
354937    60
354938    60
354939    36
354940    36
354941    36
354942    36
354943    36
354944    60
354945    36
354946    36
354947    60
354948    60
354949    36
354950    60
Name: term, dtype: int64

In [166]:
train.dtypes

loan_amnt                        int64
funded_amnt                      int64
funded_amnt_inv                float64
term                             int64
int_rate                       float64
emp_length                       int64
home_ownership                   int64
annual_inc                     float64
verification_status              int64
pymnt_plan                        int8
dti                            float64
delinq_2yrs                    float64
inq_last_6mths                 float64
mths_since_last_delinq         float64
mths_since_last_record         float64
open_acc                       float64
pub_rec                        float64
revol_bal                      float64
revol_util                     float64
total_acc                      float64
initial_list_status               int8
total_rec_int                  float64
total_rec_late_fee             float64
recoveries                     float64
collection_recovery_fee        float64
collections_12_mths_ex_med     float64
mths_since_last_major_derog    float64
application_type                  int8
verification_status_joint        int64
last_week_pay                    int64
acc_now_delinq                 float64
tot_coll_amt                   float64
tot_cur_bal                    float64
total_rev_hi_lim               float64
loan_status                      int64
A                              float64
B                              float64
C                              float64
D                              float64
E                              float64
F                              float64
G                              float64
dtype: object

In [167]:
train.loan_status

0         0
1         0
2         0
3         0
4         0
5         0
6         1
7         0
8         0
9         0
10        0
11        1
12        0
13        0
14        1
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        1
24        0
25        0
26        1
27        1
28        0
29        0
         ..
532398    0
532399    1
532400    0
532401    0
532402    0
532403    0
532404    0
532405    1
532406    0
532407    0
532408    0
532409    0
532410    1
532411    1
532412    0
532413    0
532414    0
532415    1
532416    0
532417    0
532418    0
532419    0
532420    1
532421    0
532422    1
532423    0
532424    0
532425    1
532426    0
532427    0
Name: loan_status, dtype: int64

In [168]:
y_train=train['loan_status']
train.drop(["loan_status"],axis=1,inplace=True)
x_train=train

x_test=test

In [169]:
x_train

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,emp_length,home_ownership,annual_inc,verification_status,pymnt_plan,...,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,A,B,C,D,E,F,G
0,14350,14350,14350.00,36,19.19,9,6,28700,1,0,...,0,28699,30800,0,0,0,0,1,0,0
1,4800,4800,4800.00,36,10.99,0,5,65000,1,0,...,0,9974,32900,0,1,0,0,0,0,0
2,10000,10000,10000.00,36,7.26,2,6,45000,0,0,...,65,38295,34900,1,0,0,0,0,0,0
3,15000,15000,15000.00,36,19.72,10,3,105000,0,0,...,0,55564,24700,0,0,0,1,0,0,0
4,16000,16000,16000.00,36,10.64,10,3,52000,1,0,...,0,47159,47033,0,1,0,0,0,0,0
5,15000,15000,14950.00,36,8.90,2,5,120000,0,0,...,0,350619,29500,1,0,0,0,0,0,0
6,5000,5000,4975.00,36,7.90,5,3,75000,1,0,...,1023,13272,55500,1,0,0,0,0,0,0
7,6000,6000,6000.00,36,9.17,8,5,54000,0,0,...,0,272579,11800,0,1,0,0,0,0,0
8,6000,6000,6000.00,36,13.99,7,5,92000,0,0,...,0,281521,62100,0,0,1,0,0,0,0
9,34550,34550,34550.00,60,17.14,2,5,72000,1,0,...,0,76034,33200,0,0,0,1,0,0,0
10,25000,25000,24975.00,36,13.33,10,6,135000,1,0,...,0,72193,47000,0,0,1,0,0,0,0
11,15000,15000,15000.00,36,18.49,4,3,76000,1,0,...,0,39152,19600,0,0,0,1,0,0,0
12,18000,18000,18000.00,36,6.99,7,5,62000,0,0,...,0,194011,139900,1,0,0,0,0,0,0
13,9000,9000,9000.00,36,6.03,10,5,145000,0,0,...,0,165164,43000,1,0,0,0,0,0,0
14,8800,8800,8800.00,36,13.65,10,3,80000,0,0,...,0,39634,41200,0,0,1,0,0,0,0
15,8000,8000,8000.00,36,15.61,4,3,50000,1,0,...,0,48488,18500,0,0,0,1,0,0,0
16,18450,18450,18450.00,60,21.70,9,3,69000,1,0,...,0,71191,15900,0,0,0,0,1,0,0
17,30750,30750,30700.00,36,16.99,0,5,70000,1,0,...,0,221335,17400,0,0,0,1,0,0,0
18,9000,9000,9000.00,36,9.99,7,3,60000,1,0,...,0,34538,17000,0,1,0,0,0,0,0
19,24000,24000,24000.00,36,10.99,7,3,130000,1,0,...,0,125903,31000,0,1,0,0,0,0,0
20,20000,20000,20000.00,60,17.86,9,3,96000,0,0,...,0,66738,27200,0,0,0,1,0,0,0
21,12400,12400,12400.00,36,6.62,2,6,40000,0,0,...,0,0,0,1,0,0,0,0,0,0
22,4200,4200,4200.00,36,17.57,10,5,46000,0,0,...,0,282808,25700,0,0,0,1,0,0,0
23,10500,10500,10500.00,36,13.66,7,6,60000,1,0,...,0,71697,14300,0,0,1,0,0,0,0
24,16000,16000,16000.00,36,7.89,0,3,65000,1,0,...,0,147448,41400,1,0,0,0,0,0,0
25,23800,23800,23800.00,60,15.61,4,5,70000,1,0,...,0,327930,43400,0,0,0,1,0,0,0
26,7200,7200,7150.00,36,12.99,2,6,37000,1,0,...,0,8589,19800,0,0,1,0,0,0,0
27,19200,19200,19175.00,36,6.62,1,5,250000,1,0,...,0,447388,33100,1,0,0,0,0,0,0
28,15000,15000,15000.00,36,6.92,3,5,90000,1,0,...,0,114298,49900,1,0,0,0,0,0,0
29,4000,4000,4000.00,36,17.57,2,5,20000,1,0,...,0,31445,10900,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532398,18000,18000,18000.00,36,14.49,7,5,75000,0,0,...,0,429344,9000,0,0,1,0,0,0,0
532399,4700,4700,4700.00,36,11.99,9,5,30000,0,0,...,0,101351,7300,0,1,0,0,0,0,0
532400,20000,20000,20000.00,36,9.17,4,5,94000,0,0,...,0,69832,25900,0,1,0,0,0,0,0
532401,7800,7800,7800.00,36,9.99,0,5,77500,0,0,...,0,46121,21200,0,1,0,0,0,0,0
532402,10400,10400,10400.00,36,7.26,0,5,50000,0,0,...,0,116826,22400,1,0,0,0,0,0,0
532403,22375,22375,22375.00,60,19.19,10,3,128000,1,0,...,0,21055,13000,0,0,0,0,1,0,0
532404,8000,8000,8000.00,36,7.26,10,5,123000,1,0,...,0,279875,51100,1,0,0,0,0,0,0
532405,18000,18000,18000.00,60,17.27,3,3,62000,1,0,...,0,68068,27800,0,0,1,0,0,0,0
532406,10000,10000,10000.00,36,6.24,2,5,56000,0,0,...,0,75747,17000,1,0,0,0,0,0,0
532407,16000,16000,16000.00,36,7.26,10,5,54000,1,0,...,0,45671,16100,1,0,0,0,0,0,0
532408,7200,7200,7200.00,36,9.17,10,5,70000,1,0,...,0,145019,26300,0,1,0,0,0,0,0
532409,17625,17625,17625.00,36,16.29,10,6,41000,0,0,...,0,30960,33000,0,0,1,0,0,0,0
532410,9700,9700,8283.54,36,14.82,1,3,37500,0,0,...,0,0,0,0,0,0,0,1,0,0
532411,20000,20000,20000.00,36,9.67,6,5,78000,1,0,...,0,166357,35800,0,1,0,0,0,0,0
532412,7200,7200,7200.00,36,16.55,6,3,50000,1,0,...,0,35503,5400,0,0,0,1,0,0,0
532413,19200,19200,19200.00,60,19.22,10,5,153000,1,0,...,0,556189,45100,0,0,0,1,0,0,0
532414,20000,20000,20000.00,36,14.49,7,3,120000,1,0,...,0,36011,15900,0,0,1,0,0,0,0
532415,10000,10000,10000.00,36,7.49,6,5,60000,1,0,...,0,0,0,1,0,0,0,0,0,0
532416,1800,1800,1800.00,36,16.99,10,5,62000,0,0,...,128,137538,42100,0,0,0,1,0,0,0
532417,10000,10000,10000.00,36,9.99,10,3,60000,0,0,...,2070,15552,18300,0,1,0,0,0,0,0
532418,10000,10000,10000.00,36,9.76,9,3,54000,1,0,...,890,121294,19700,0,1,0,0,0,0,0
532419,4800,4800,4800.00,36,11.53,0,3,45000,0,0,...,0,24985,10400,0,1,0,0,0,0,0
532420,5700,5700,5700.00,36,14.16,9,6,37000,1,0,...,0,89997,15600,0,0,1,0,0,0,0
532421,13000,13000,13000.00,60,12.99,3,5,55000,1,0,...,0,11231,26900,0,0,1,0,0,0,0
532422,10000,10000,10000.00,36,14.33,10,5,49900,1,0,...,0,189233,24200,0,0,1,0,0,0,0
532423,20000,20000,20000.00,36,12.49,10,5,75000,1,0,...,0,83087,24800,0,1,0,0,0,0,0
532424,12000,12000,12000.00,60,14.99,10,5,59000,0,0,...,0,227812,17800,0,0,1,0,0,0,0
532425,18725,18725,18725.00,60,20.80,8,3,42504,1,0,...,0,26010,24200,0,0,0,0,1,0,0
532426,21000,21000,21000.00,60,16.29,1,3,50000,1,0,...,0,29197,23300,0,0,0,1,0,0,0
532427,10000,10000,10000.00,36,6.39,0,3,53000,0,0,...,0,47866,21700,1,0,0,0,0,0,0

In [170]:
x_test

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,emp_length,home_ownership,annual_inc,verification_status,pymnt_plan,...,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,A,B,C,D,E,F,G
0,14000,14000,14000.000000,60,16.24,4,3,73500,1,0,...,0,85230,45700,0,0,1,0,0,0,0
1,16000,16000,16000.000000,60,9.49,5,5,105000,1,0,...,0,444991,21400,0,1,0,0,0,0,0
2,11050,11050,11050.000000,60,15.61,10,3,62300,0,0,...,0,105737,16300,0,0,0,1,0,0,0
3,35000,35000,34700.000000,60,12.69,10,6,150000,1,0,...,0,287022,72400,0,0,1,0,0,0,0
4,6500,6500,6500.000000,36,6.89,5,5,52000,0,0,...,0,234278,26700,1,0,0,0,0,0,0
5,13475,13475,13475.000000,60,18.99,9,6,30000,1,0,...,131,29383,42700,0,0,0,0,1,0,0
6,5000,5000,5000.000000,36,7.62,2,3,64000,0,0,...,0,38403,17000,1,0,0,0,0,0,0
7,10000,10000,10000.000000,60,22.99,7,3,36400,1,0,...,246,7119,18200,0,0,0,0,0,1,0
8,30000,30000,30000.000000,36,9.17,10,3,110000,1,0,...,0,85611,51100,0,1,0,0,0,0,0
9,7000,7000,7000.000000,60,15.96,6,5,130500,0,0,...,0,0,0,0,0,1,0,0,0,0
10,6000,6000,6000.000000,36,11.99,4,5,104000,0,0,...,0,248115,28200,0,1,0,0,0,0,0
11,6000,6000,6000.000000,36,14.31,0,3,23200,1,0,...,0,16592,26800,0,0,1,0,0,0,0
12,21600,21600,21600.000000,60,8.18,10,5,107000,1,0,...,0,90651,11200,0,1,0,0,0,0,0
13,17000,17000,16950.000000,36,11.55,10,6,95000,1,0,...,0,378621,60700,0,1,0,0,0,0,0
14,10000,10000,10000.000000,60,13.33,10,6,55700,0,0,...,0,35978,30400,0,0,1,0,0,0,0
15,30000,30000,30000.000000,60,17.57,1,3,100000,1,0,...,159,30181,27600,0,0,0,1,0,0,0
16,6350,6350,6350.000000,36,23.43,3,3,20000,0,0,...,0,7721,8300,0,0,0,0,0,1,0
17,1200,1200,1200.000000,36,7.90,4,3,24000,0,0,...,0,0,0,1,0,0,0,0,0,0
18,20000,20000,20000.000000,36,17.10,0,5,60000,1,0,...,314,83501,19500,0,0,1,0,0,0,0
19,27600,27600,27600.000000,60,15.31,10,3,60000,1,0,...,203,31287,34600,0,0,1,0,0,0,0
20,35000,35000,35000.000000,36,14.98,10,5,80000,1,0,...,0,113870,37100,0,0,1,0,0,0,0
21,5750,5750,5750.000000,36,13.98,10,5,65500,0,0,...,442,283104,16000,0,0,1,0,0,0,0
22,22500,22500,22500.000000,36,7.49,1,5,55550,1,0,...,0,0,0,1,0,0,0,0,0,0
23,11500,11500,11500.000000,36,11.67,5,3,40000,1,0,...,0,27463,16700,0,1,0,0,0,0,0
24,35000,35000,35000.000000,36,9.99,10,5,230000,1,0,...,0,903910,65000,0,1,0,0,0,0,0
25,35000,35000,35000.000000,36,10.99,4,5,72000,1,0,...,0,333779,14700,0,1,0,0,0,0,0
26,24000,24000,24000.000000,60,10.99,3,3,92000,0,0,...,0,128941,65800,0,1,0,0,0,0,0
27,18000,18000,17975.000000,36,9.67,10,3,40000,0,0,...,0,21253,24900,0,1,0,0,0,0,0
28,20000,20000,20000.000000,36,5.32,10,5,95100,1,0,...,0,360745,62600,1,0,0,0,0,0,0
29,20000,20000,20000.000000,60,13.99,7,5,57000,1,0,...,0,112760,15500,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354921,6000,6000,6000.000000,36,7.12,1,3,63000,0,0,...,0,4413,27000,1,0,0,0,0,0,0
354922,17000,17000,17000.000000,36,17.86,0,3,50000,0,0,...,0,39242,47000,0,0,0,1,0,0,0
354923,2400,2400,2400.000000,36,11.99,0,6,48000,1,0,...,0,22995,17600,0,0,1,0,0,0,0
354924,12000,12000,12000.000000,60,18.25,10,5,103000,0,0,...,0,195086,228550,0,0,0,0,1,0,0
354925,17000,17000,17000.000000,36,9.99,4,5,110000,1,0,...,0,69056,38700,0,1,0,0,0,0,0
354926,8000,8000,8000.000000,36,20.99,10,5,38000,1,0,...,0,31791,15500,0,0,0,0,1,0,0
354927,5000,5000,5000.000000,36,11.53,6,3,70000,1,0,...,0,244748,32700,0,1,0,0,0,0,0
354928,24000,15825,14479.387344,60,11.36,10,5,108000,1,0,...,0,0,0,0,1,0,0,0,0,0
354929,12000,12000,12000.000000,36,12.49,7,3,58768,0,0,...,0,11287,4200,0,1,0,0,0,0,0
354930,5000,5000,5000.000000,36,9.99,4,3,30000,1,0,...,0,40975,27400,0,1,0,0,0,0,0
354931,17000,17000,17000.000000,36,13.11,2,3,58000,1,0,...,0,39664,23200,0,1,0,0,0,0,0
354932,14000,14000,14000.000000,36,13.35,3,5,92000,1,0,...,0,178063,23200,0,0,1,0,0,0,0
354933,12000,12000,12000.000000,60,11.53,4,3,54000,0,0,...,0,79160,20800,0,1,0,0,0,0,0
354934,28000,28000,28000.000000,60,10.99,3,5,81680,1,0,...,0,147131,36000,0,1,0,0,0,0,0
354935,20650,20650,20650.000000,60,16.99,3,3,76000,1,0,...,0,58801,33000,0,0,0,1,0,0,0
354936,32350,32350,32350.000000,36,15.31,5,3,73000,1,0,...,0,50051,39300,0,0,1,0,0,0,0
354937,18100,18100,18100.000000,60,25.99,10,3,125000,1,0,...,0,38649,16600,0,0,0,0,0,1,0
354938,20000,20000,20000.000000,60,14.98,9,6,65000,1,0,...,0,277919,19600,0,0,1,0,0,0,0
354939,14025,14025,14025.000000,36,17.57,3,3,39000,1,0,...,0,22831,11400,0,0,0,1,0,0,0
354940,10000,10000,10000.000000,36,11.99,0,3,50000,1,0,...,0,29950,21100,0,1,0,0,0,0,0
354941,30000,30000,30000.000000,36,6.89,2,3,141000,1,0,...,0,137358,64000,1,0,0,0,0,0,0
354942,10000,10000,10000.000000,36,10.15,9,5,40000,0,0,...,0,97785,10950,0,1,0,0,0,0,0
354943,22250,22250,22250.000000,36,7.90,5,5,86000,1,0,...,0,331709,37500,1,0,0,0,0,0,0
354944,10800,10800,10800.000000,60,20.99,10,3,41000,1,0,...,0,56129,11500,0,0,0,0,1,0,0
354945,14300,14300,14300.000000,36,15.41,10,3,52000,1,0,...,0,88713,12100,0,0,0,1,0,0,0
354946,15000,15000,15000.000000,36,6.49,1,5,97250,0,0,...,0,143920,44000,1,0,0,0,0,0,0
354947,35000,35000,35000.000000,60,25.89,1,6,180000,1,0,...,0,772713,85700,0,0,0,0,0,0,1
354948,14000,14000,13975.000000,60,17.51,10,6,56000,1,0,...,0,0,0,0,0,0,0,1,0,0
354949,20000,20000,20000.000000,36,7.26,0,5,100000,1,0,...,0,291998,54600,1,0,0,0,0,0,0
354950,2700,2700,2450.000000,60,7.49,2,6,12000,0,0,...,0,0,0,1,0,0,0,0,0,0

In [171]:
x_test.verification_status_joint.isnull().any()

False

In [172]:


# fit model no training data
model = xgb.XGBClassifier()
model.fit(x_train, y_train)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [179]:
#plot......


pyplot.bar(range(len(model.feature_importances_)), model.feature_importances_)
pyplot.xticks(np.arange(len(train.columns)),train.columns)
pyplot.show()

In [181]:
(model.feature_importances_)*100

array([  0.31897926,   0.        ,   0.95693779,   6.37958479,
        15.78947258,   0.15948963,   0.        ,   1.43540668,
         2.71132374,   0.        ,   5.26315784,   0.63795853,
         1.27591705,   1.43540668,   0.        ,   1.11642742,
         0.31897926,   0.        ,   2.23285484,   2.55183411,
         2.71132374,   5.26315784,   1.27591705,   8.45295048,
         0.        ,   0.        ,   0.95693779,   0.        ,
         0.        ,  23.44497681,   0.        ,   1.11642742,
         6.060606  ,   2.39234447,   0.63795853,   2.07336521,
         2.39234447,   0.47846889,   0.15948963,   0.        ,   0.        ], dtype=float32)

In [182]:
from xgboost import plot_importance

In [183]:
plot_importance(model)
pyplot.show()

In [184]:
model.predict_proba

<bound method XGBClassifier.predict_proba of XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)>

In [198]:
k=model.predict_proba(x_test)

In [199]:
df=pd.DataFrame(k)
df=df.round(decimals=2)
df

           0     1
0       0.83  0.17
1       0.89  0.11
2       0.90  0.10
3       0.88  0.12
4       0.84  0.16
5       0.93  0.07
6       0.76  0.24
7       0.83  0.17
8       0.89  0.11
9       0.49  0.51
10      0.67  0.33
11      0.86  0.14
12      0.92  0.08
13      0.67  0.33
14      0.95  0.05
15      0.89  0.11
16      0.77  0.23
17      1.00  0.00
18      0.74  0.26
19      0.86  0.14
20      0.98  0.02
21      0.82  0.18
22      0.08  0.92
23      0.82  0.18
24      0.91  0.09
25      0.81  0.19
26      0.86  0.14
27      0.79  0.21
28      0.90  0.10
29      0.87  0.13
...      ...   ...
354921  0.77  0.23
354922  0.83  0.17
354923  0.87  0.13
354924  0.85  0.15
354925  0.89  0.11
354926  0.91  0.09
354927  0.74  0.26
354928  0.13  0.87
354929  0.58  0.42
354930  0.82  0.18
354931  0.50  0.50
354932  0.78  0.22
354933  0.94  0.06
354934  0.86  0.14
354935  0.90  0.10
354936  0.81  0.19
354937  0.79  0.21
354938  0.87  0.13
354939  0.84  0.16
354940  0.78  0.22
354941  0.89  0.11
354942  0.69  0.31
354943  0.76  0.24
354944  0.86  0.14
354945  0.82  0.18
354946  0.81  0.19
354947  0.69  0.31
354948  0.17  0.83
354949  0.89  0.11
354950  0.20  0.80

[354951 rows x 2 columns]

In [232]:
df1=df[0]
df1=pd.DataFrame(df1)
df1

           0
0       0.83
1       0.89
2       0.90
3       0.88
4       0.84
5       0.93
6       0.76
7       0.83
8       0.89
9       0.49
10      0.67
11      0.86
12      0.92
13      0.67
14      0.95
15      0.89
16      0.77
17      1.00
18      0.74
19      0.86
20      0.98
21      0.82
22      0.08
23      0.82
24      0.91
25      0.81
26      0.86
27      0.79
28      0.90
29      0.87
...      ...
354921  0.77
354922  0.83
354923  0.87
354924  0.85
354925  0.89
354926  0.91
354927  0.74
354928  0.13
354929  0.58
354930  0.82
354931  0.50
354932  0.78
354933  0.94
354934  0.86
354935  0.90
354936  0.81
354937  0.79
354938  0.87
354939  0.84
354940  0.78
354941  0.89
354942  0.69
354943  0.76
354944  0.86
354945  0.82
354946  0.81
354947  0.69
354948  0.17
354949  0.89
354950  0.20

[354951 rows x 1 columns]

In [211]:
df1.shape

(354951, 1)

In [236]:
test1=pd.read_csv('/home/deepak/Downloads/hacker earth ml/ml 1/898ce544-0-MLChallenge_1Datac63af4e/test_indessa.csv')

In [237]:
test1=test1["member_id"]

In [238]:
result = pd.concat([test1, df1], axis=1, join='inner')
result=result.rename(columns = {0:'loan_status'})
result

        member_id     0
0        11937648  0.83
1        38983318  0.89
2        27999917  0.90
3        61514932  0.88
4        59622821  0.84
5        28822038  0.93
6        10718089  0.76
7        58114582  0.83
8        35023176  0.89
9         1268247  0.49
10       15559751  0.67
11       41234300  0.86
12       53958774  0.92
13        8074949  0.67
14       67601509  0.95
15       65560239  0.89
16       14767770  0.77
17        1726792  1.00
18        9899439  0.74
19       15120294  0.86
20       12019444  0.98
21       35242810  0.82
22        1057101  0.08
23       23024164  0.82
24       45430320  0.91
25       46396580  0.81
26       58832624  0.86
27       14990008  0.79
28       57738287  0.90
29       66382471  0.87
...           ...   ...
354921   19848222  0.77
354922   58710103  0.83
354923   71207833  0.87
354924   61595559  0.85
354925   59891936  0.89
354926   55781739  0.91
354927   49353323  0.74
354928     673495  0.13
354929   28653239  0.58
354930   45471139  0.82
354931    5329126  0.50
354932   22381672  0.78
354933   65005753  0.94
354934   35873497  0.86
354935   47994257  0.90
354936    3874064  0.81
354937   68780700  0.79
354938   10976807  0.87
354939   55096221  0.84
354940   13600061  0.78
354941   55437336  0.89
354942   25856020  0.69
354943   10386922  0.76
354944   70721678  0.86
354945   70348484  0.82
354946   19145105  0.81
354947   46304777  0.69
354948     903745  0.17
354949   53032475  0.89
354950     994245  0.20

[354951 rows x 2 columns]

In [239]:
result=result.rename(columns = {0:'loan_status'})
result

        member_id  loan_status
0        11937648         0.83
1        38983318         0.89
2        27999917         0.90
3        61514932         0.88
4        59622821         0.84
5        28822038         0.93
6        10718089         0.76
7        58114582         0.83
8        35023176         0.89
9         1268247         0.49
10       15559751         0.67
11       41234300         0.86
12       53958774         0.92
13        8074949         0.67
14       67601509         0.95
15       65560239         0.89
16       14767770         0.77
17        1726792         1.00
18        9899439         0.74
19       15120294         0.86
20       12019444         0.98
21       35242810         0.82
22        1057101         0.08
23       23024164         0.82
24       45430320         0.91
25       46396580         0.81
26       58832624         0.86
27       14990008         0.79
28       57738287         0.90
29       66382471         0.87
...           ...          ...
354921   19848222         0.77
354922   58710103         0.83
354923   71207833         0.87
354924   61595559         0.85
354925   59891936         0.89
354926   55781739         0.91
354927   49353323         0.74
354928     673495         0.13
354929   28653239         0.58
354930   45471139         0.82
354931    5329126         0.50
354932   22381672         0.78
354933   65005753         0.94
354934   35873497         0.86
354935   47994257         0.90
354936    3874064         0.81
354937   68780700         0.79
354938   10976807         0.87
354939   55096221         0.84
354940   13600061         0.78
354941   55437336         0.89
354942   25856020         0.69
354943   10386922         0.76
354944   70721678         0.86
354945   70348484         0.82
354946   19145105         0.81
354947   46304777         0.69
354948     903745         0.17
354949   53032475         0.89
354950     994245         0.20

[354951 rows x 2 columns]

In [245]:
result.loan_status[result['loan_status']==0]=0.01

In [246]:
result.to_csv("ml1_sol.csv",index=False)